.about-container p {
  margin-bottom: 0;
}

.text-box p {
  margin-top: 0;
}

.about-container .row .col.col-d-6 {
  width: 100%;
}

.about-container .row .col.col-d-6:first-child {
  padding-bottom: 0;
}

.about-container .row .col.col-d-6:nth-child(2) {
  padding-top: 15px;
}

.info-list {
  padding-top: 0;
}

.info-list ul li {
  display: inline-block;
  width: 48%;
  line-height: 1.6;
}

.info-list ul li strong {
  float: left;
  margin-right: 8px;
  padding: 1px 8px;
  background: #ff9800;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 500;
  text-transform: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}

.info-list ul li strong:after {
  background: #31313a;
  margin-left: 0 !important;
}

.experience-list {
  margin: 15px 0;
}

.experience-card {
  color: #ff9800;
  display: flex;
}

.icon-plus {
  background: linear-gradient(
    to bottom right,
    #17171b 0%,
    #28282f 100%
  ) !important;
  position: relative;
  width: 60px;
  padding: 0 10px;
  margin: 5px 2px;
  font-size: 40px;
}

.icon-plus .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.experience-title {
  background: linear-gradient(
    to bottom right,
    #17171b 0%,
    #28282f 100%
  ) !important;
  margin: 5px;
  margin-left: 0;
  font-size: 16px;
  width: 60%;
  padding: 4px 10px;
}

.experience-body {
  color: rgb(201, 199, 199);
  font-size: 12px;
}

@media (max-width: 1199px) {
  .about-container .row .col:first-child {
    padding-bottom: 0;
  }
  .about-container .info-list ul {
    margin: -11px -30px 0 -30px;
  }
  .info-list ul li {
    padding: 11px 30px;
    display: block;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .experience-title {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .about-container .info-list ul {
    margin: -11px -30px 0 -30px;
  }
  .info-list ul li {
    display: block;
    width: auto;
  }
}

@media (max-width: 1240px) {
  .about-container .info-list ul {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
