/* 
Table of Content
1. General css
2. Background css
3. Container css
4. Header css
  4.1 Profile css
  4.2 Navbar css
5. Card Left css
6. Card Right css
  6.1 About css
  6.2 Skill css
  6.4 Contact css 

*/

/******************** 1. General css  ********************/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.55);
  background: #292930;
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  letter-spacing: 0em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

li {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  opacity: 1;
  outline: none;
  color: rgba(255, 255, 255, 0.55);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hr:after {
  position: absolute;
  content: "";
  z-index: 10;
  width: 80%;
  height: 1px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at center,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.v-saperator:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.first-letter {
  font-size: 44px;
}

.btns-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.btns-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at center,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.btn {
  position: relative;
  display: block;
  float: none;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.btn:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -moz-radial-gradient(
    top,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    top,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at top,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.btn:last-child:before {
  display: none;
}

.btn:hover{
  color: #ff9800;
}

.h-saperator {
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #dddddd, 
      rgba(255, 255, 255, 0)
    ) 1 100%;
  border-right: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/******************** 2. Background css ********************/

.background {
  background: url('../images/background.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

/******************** 3. Container css ********************/

.container {
  margin: 8vh 6vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.container.opened {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}

/******************** 4. Header css ********************/

.header {
  margin-right: 8px;
  position: relative;
  left: 0;
  top: 15px;
  float: left;
  width: 90px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/*********** 4.1 Profile css ***********/

.header .profile {
  padding: 10px 62px 10px 18px;
  width: auto;
  height: 64px;
  text-align: left;
  display: none;
}

.header .profile .image {
  margin-right: 14px;
  float: left;
  width: 44px;
  font-size: 0;
}

.header .profile .image img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.header .profile .profile-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header .profile .profile-subtitle {
  color: #ff9800;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*********** 4.2 Navbar css ***********/

.header .nav-bar {
  width: 100%;
  font-size: 0;
}

.header .nav-bar ul {
  margin: 0;
  padding: 0;
}

.header .nav-bar ul li {
  display: block;
}

.header .nav-bar ul li a {
  position: relative;
  overflow: hidden;
  display: block;
  background: #31313a;
  color: rgba(255, 255, 255, 0.85);
  padding: 13px 3px;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .nav-bar ul li:first-child a {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

.header .nav-bar ul li:last-child a {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
}

.header .nav-bar ul li:last-child .v-saperator:before {
  display: none;
}

.header .nav-bar ul li a .icon {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
}

.header .nav-bar ul li a .link {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 13px;
  display: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .nav-bar ul li:hover a .icon,
.header .nav-bar ul li.active a .icon,
.header .nav-bar ul li:hover a .link,
.header .nav-bar ul li.active a .link,
.header .nav-bar ul li:hover a,
.header .nav-bar ul li.active a {
  color: #ff9800;
}

/******************** 5. Card Left css ********************/

.card-left {
  position: relative;
  float: left;
  width: 480px;
  height: 100%;
  z-index: 11;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.card-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
}

.card-left:after {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: 100%;
  height: 100%;
  background: #31313a;
  opacity: 0.3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.card-left .profile-home {
  padding: 50px;
  position: relative;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #31313a;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.card-left .profile-home .profile-bg {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 52%;
  background-color: rgba(255, 152, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

.card-left .profile-home .profile-bg:before,
.card-left .profile-home .profile-bg:after {
  content: "";
  position: absolute;
  left: -25%;
  bottom: -63%;
  width: 100%;
  height: 70%;
  background: #31313a;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}

.card-left .profile-home .profile-bg:after {
  left: auto;
  right: -25%;
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
}

.card-left .profile-home .profile-image {
  margin: 80px 0 20px 0;
  width: 146px;
  position: relative;
  display: inline-block;
}

.card-left .profile-home .profile-image:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 152, 0, 0.4) 0%,
    rgba(255, 152, 0, 0.01) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 152, 0, 0.4) 0%,
    rgba(255, 152, 0, 0.01) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 152, 0, 0.4) 0%,
    rgba(255, 152, 0, 0.01) 100%
  );
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
}

.card-left .profile-home .profile-image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid #31313a;
  background-color: #31313a;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
}

.card-left .profile-home .profile-title {
  margin: 0 0 10px 0;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 32px;
  font-weight: 400;
}

.card-left .profile-home .profile-subtitle {
  position: relative;
  margin: 0;
  font-size: 16px;
  display: inline-block;
  color: #ff9800;
  line-height: 20px;
  height: 20px;
  font-weight: 400;
}

.card-left .profile-home .social {
  position: relative;
  margin: 16px 0 0 0;
}

.card-left .profile-home .social a {
  margin: 0 6px;
  display: inline-block;
  vertical-align: middle;
}

.card-left .profile-home .social a .ion,
.card-left .profile-home .social a .fab,
.card-left .profile-home .social a .fas,
.card-left .profile-home .social a .fa {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.card-left .profile-home .social a:hover .ion,
.card-left .profile-home .social a:hover .fab,
.card-left .profile-home .social a:hover .fas,
.card-left .profile-home .social a:hover .fa {
  color: #ff9800;
}

/******************** 6. Card Right css ********************/

.card-right {
  padding: 0;
  position: absolute;
  overflow: hidden;
  left: 560px;
  top: 15px;
  right: 0;
  bottom: 15px;
  width: auto;
  height: auto;
  background: #31313a;

  transform-origin: center left;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
  transition: visibility 1s linear, opacity 0s linear;
  -moz-transition: visibility 1s linear, opacity 0s linear;
  -webkit-transition: visibility 1s linear, opacity 0s linear;
  -o-transition: visibility 1s linear, opacity 0s linear;
}

.card-right .animated {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.card-right.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.card-right.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.card-right .card-wrapper {
  padding: 30px 30px 30px 50px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.section .title-top {
  font-size: 18px;
  font-family: 'Dancing Script', cursive;
  margin:0 0 0 5px;
}

.section .title-bottom {
  color: #ff9800;
  margin-top: 0;
  font-size: 30px;
}

.section-body {
  margin-bottom: 15px;
}

/*********** 6.1 About css ***********/
.resume-body {
  margin-bottom: 30px;
}

.resume-title {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 15px;
  /* text-align: center; */
}

.resume-duration {
  margin: 0 auto;
}

.section-body {
  font-size: 16px;
}

.superscript {
  font-family: 'Dancing Script', cursive;
  font-size: 14px;
}

.resume-position {
  font-size: 16px;
}

.resume-location {
  font-size: 12px;
}

.dash {
  padding: 0 5px;
}

.resume-year {
  color: #ff9800;
}

/*********** 6.2 Skill css ***********/

.skill-title {
  padding: 20px 0 30px 0;
  position: relative;
}

.skill-title .icon {
  background: transparent;
  color: #ff9800;
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  font-size: 32px;
}

.skill-title .icon .fa {
  font-size: 28px;
  display: block;
  line-height: 40px;
}

.skill-title .name {
  line-height: 14px;
  font-size: 17px;
  margin: 0 0 0 40px;
  padding-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.skill-list ul {
  clear: both;
  margin: 0;
  padding: 0;
}

.skill-list.list ul {
  padding-top: 10px;
}

.skill-list ul li {
  position: relative;
  padding: 20px 0;
  margin-bottom: 0px;
}

.skill-list.list ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-list ul li .name {
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 14px;
}

.skill-list.list ul li .name {
  font-size: 16px;
  line-height: 18px;
  padding-left: 30px;
  margin-bottom: 0;
  position: relative;
}

.skill-list.list ul li .name:before {
  color: #ff9800;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  font-family: "Font Awesome 5 Free"; content: "\f14a";
}

.skill-list ul li .progress {
  background: #3e4148;
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
}

.skill-list ul li .progress .percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #ff9800;
}

/*********** 6.4 Contact css ***********/

.section .contact-info {
  font-size: 18px;
}

.section .contact-info:last-child {
  margin-bottom: 0;
}

form {
  padding-bottom: 20px;
}

.form-input,
textarea {
  width: 100%;
  padding: 10px;
  background: none;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      #dddddd, 
      rgba(255, 255, 255, 0)
    ) 10 15%;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      #dddddd, 
      rgba(255, 255, 255, 0)
    ) 10 15%;
}

.form-input:focus,
textarea:focus,
.form-input:hover,
textarea:hover,
.button:hover{
  outline: none;
  border-image: 
    linear-gradient(
      #ff9800, 
      rgba(255, 255, 255, 0)
    ) 10 15%; ;
}

.button:hover{
  color: #ff9800;
}

.carousel-inner>.carousel-item {
  width: 100%;

}
