/* 
Table of Content
1. General css
2. Background css
3. Container css
4. Header css
  4.1 Profile css
  4.2 Navbar css
*/

/******************** 1. General css  ********************/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.55);
  background: #292930;
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  letter-spacing: 0em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

li {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  opacity: 1;
  outline: none;
  color: rgba(255, 255, 255, 0.55);
}

.v-saperator:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.btns-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.btns-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at center,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.btn {
  position: relative;
  display: block;
  float: none;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.btn:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: -moz-radial-gradient(
    top,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    top,
    ellipse cover,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at top,
    #dddddd 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.btn:last-child:before {
  display: none;
}

.btn:hover{
  color: #ff9800;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/******************** 2. Background css ********************/

.background {
  background: url('../images/background.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

/******************** 3. Container css ********************/

.container {
  margin: 8vh 6vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.container.opened {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}

/******************** 4. Header css ********************/

.header {
  margin-right: 8px;
  position: relative;
  left: 0;
  top: 15px;
  float: left;
  width: 90px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
/*********** 4.1 Profile css ***********/

.header .profile {
  padding: 10px 62px 10px 18px;
  width: auto;
  height: 64px;
  text-align: left;
  display: none;
}

.header .profile .image {
  margin-right: 14px;
  float: left;
  width: 44px;
  font-size: 0;
}

.header .profile .image img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}

.header .profile .profile-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header .profile .profile-subtitle {
  color: #ff9800;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*********** 4.2 Navbar css ***********/

.header .nav-bar {
  width: 100%;
  font-size: 0;
}

.header .nav-bar ul {
  margin: 0;
  padding: 0;
}

.header .nav-bar ul li {
  display: block;
}

.header .nav-bar ul li a {
  position: relative;
  overflow: hidden;
  display: block;
  background: #31313a;
  color: rgba(255, 255, 255, 0.85);
  padding: 13px 3px;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .nav-bar ul li:first-child a {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

.header .nav-bar ul li:last-child a {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
}

.header .nav-bar ul li:last-child .v-saperator:before {
  display: none;
}

.header .nav-bar ul li a .icon {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
}

.header .nav-bar ul li a .link {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 13px;
  display: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .nav-bar ul li:hover a .icon,
.header .nav-bar ul li.active a .icon,
.header .nav-bar ul li:hover a .link,
.header .nav-bar ul li.active a .link,
.header .nav-bar ul li:hover a,
.header .nav-bar ul li.active a {
  color: #ff9800;
}