@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary-bg-color: #fff;
  --secondary-bg-color: #f2f2f2;
  --primary-text: #030303;
  --secondary-text: #383838;
  --highlighter-color: #007bff;
  --highlighter-hover: #00bfff;
}

.dark {
  --primary-bg-color: #121212;
  --secondary-bg-color: #1e1e1e;
  --primary-text: #eeeeee;
  --secondary-text: #dcdcdc;
  --highlighter-color: #00bfff;
  --highlighter-hover: #007bff;
}
