@media (max-height: 1500px) {
  body {
    overflow: visible;
    height: auto;
  }
}
@media (max-width: 1400px) {
    .container {
      margin: 5vh 3vw;
      height: 90vh;
    }
  }
  
@media (max-width: 1199px) {
    body {
      overflow: visible;
      height: auto;
      display: block;
    }
    .container {
      margin: 0 auto;
      padding: 0 15px 0 100px;
      position: relative;
      top: 20px;
      left: 0;
      width: auto;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      max-height: initial;
      height: auto;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
    }
    .container.opened {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      margin-left: auto;
      margin-right: auto;
    }
    .header {
        margin-left: -85px;
        position: fixed;
        left: auto;
        top: 20px;
        width: 90px;
        max-width: 90px;
        height: auto;
        display: block;
    }
      
}
  
@media (max-width: 560px) {
    .v-saperator::before {
        display: none;
    }
    .container {
      margin: 0;
      top: 0;
      width: auto;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 0 0 0;
      max-width: 400px;
    }
    .container.opened {
      margin-left: auto;
      margin-right: auto;
    }
    .header {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        position: fixed;
        background: #31313a;
        left: 0;
        right: 0;
        top: 0;
        width: auto;
        height: 64px;
        max-width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
      }
      .header .profile {
        display: block;
      }
      .header .nav-bar {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        display: block;
        box-shadow: none;
    }
    .header .nav-bar ul {
        border-top: solid 1px white;
        display: flex;
        width: 100%;
        overflow: auto;
    }
      .header .nav-bar ul li {
        display: block;
        width: 100%;
        min-width: 20%;
    }
    .header .nav-bar ul li a {
        border-left: 1px solid white;
    }
    .header .nav-bar ul li:first-child a {
        border: none;
        border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -khtml-border-radius: 4px 0 0 4px;
      }
    
      .header .nav-bar ul li:last-child a {
        border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        -khtml-border-radius: 0 4px 4px 0;
      }
    
}
  